<h1>Editing leilao</h1>

<% form_for(@leilao) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :idLeilao %><br />
    <%= f.text_field :idLeilao %>
  </p>
  <p>
    <%= f.label :idProprietario %><br />
    <%= f.text_field :idProprietario %>
  </p>
  <p>
    <%= f.label :Lances %><br />
    <%= f.text_field :Lances %>
  </p>
  <p>
    <%= f.label :DataCriacao %><br />
    <%= f.datetime_select :DataCriacao %>
  </p>
  <p>
    <%= f.label :DataExpiracao %><br />
    <%= f.datetime_select :DataExpiracao %>
  </p>
  <p>
    <%= f.label :Item %><br />
    <%= f.text_field :Item %>
  </p>
  <p>
    <%= f.label :itemCategorias %><br />
    <%= f.text_field :itemCategorias %>
  </p>
  <p>
    <%= f.label :LanceInicial %><br />
    <%= f.text_field :LanceInicial %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @leilao %> |
<%= link_to 'Back', leilaos_path %>