<p>
  <b>Id:</b>
  <%=h @leilao.id %>
</p>

<p>
  <b>Proprietario:</b>
  <%=h @leilao.proprietario %>
</p>

<p>
  <b>Lances:</b>
</p>

<p>
  <b>Datacriacao:</b>
  <%=h @leilao.dataCriacao %>
</p>

<p>
  <b>Dataexpiracao:</b>
  <%=h @leilao.dataExpiracao %>
</p>

<p>
  <b>Item:</b>
</p>

	<h2>Lances Atuais</h2>
	<% @leilao.lances.each do |lance| %>
	  <p>
	    <b>idUsuario:</b>
	    <%=h lance.id%>
	  </p>
	<% end %>	 
	<h2>Adicionar Lances:</h2>
	<% form_for @leilao.lances.build do |f| %>
	  <div class="field">
	  </div>

	<div class ='field'>
		<%= hidden_field_tag "userId", params[:id] %>
	</div>

	  <div class="actions">
		User_id: <%= params[:id] %>
		<%= f.submit %>
  	  </div>
 
	<% end %>


	<br />
	 
	<%= link_to 'Edit Leilao', edit_leilao_path(@leilao) %> |
	<%= link_to 'Back to Leilaos', leilaos_path %> |


