<p>
  <b>Idleilao:</b>
  <%=h @leilao.idLeilao %>
</p>

<p>
  <b>Idproprietario:</b>
  <%=h @leilao.idProprietario %>
</p>

<p>
  <b>Lances:</b>
  <!--<%=h @leilao.Lances %>-->
</p>

<p>
  <b>Datacriacao:</b>
  <%=h @leilao.DataCriacao %>
</p>

<p>
  <b>Dataexpiracao:</b>
  <%=h @leilao.DataExpiracao %>
</p>

<p>
  <b>Item:</b>
  <!--<%=h @leilao.Item %>-->
</p>

<p>
  <b>Itemcategorias:</b>
  <%=h @leilao.itemCategorias %>
</p>

<p>
  <b>Lanceinicial:</b>
  <%=h @leilao.LanceInicial %>
</p>


<%= link_to 'Edit', edit_leilao_path(@leilao) %> |
<%= link_to 'Back', leilaos_path %>
